[Unit]
Description=Simple Example
#After=network.target

[Service]
ExecStart=/home/osboxes/labs-sec/lab4/web_app/wiki
WorkingDirectory=/home/osboxes/labs-sec/lab4/web_app
User=osboxes
Environment=RUNMODE=production

[Install]
WantedBy=multi-user.target
