
## <summary>policy for wiki</summary>

########################################
## <summary>
##	Execute wiki_exec_t in the wiki domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`wiki_domtrans',`
	gen_require(`
		type wiki_t, wiki_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, wiki_exec_t, wiki_t)
')

######################################
## <summary>
##	Execute wiki in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wiki_exec',`
	gen_require(`
		type wiki_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, wiki_exec_t)
')
